* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
	/* theme colors */
	--primary: #0070ff;
	--secondary: #6b7280;
	--danger: rgb(241, 27, 27);
	--white: #fff;
	--black: #000;

	/* grays */
	--gray-100: #f5f5f5;
	--gray-200: #e5e5e5;
	--gray-300: #d4d4d4;
	--gray-400: #a3a3a3;
	--gray-500: #737373;
	--gray-600: #525252;
	--gray-700: #404040;
	--gray-800: #262626;
	--gray-900: #171717;

	/* generic size */
	--size: 8px;
	--line-height-btn: 1.5;

	--bg-body: var(--gray-900);
	--color-body: var(--gray-100);
	--border-color: #515151a3;
	--border-radius: 8px;

	--modal-overlay-bg: #171717c7;
	color-scheme: dark;
}

[data-theme="light"] {
	--primary: #0070ff;
	--secondary: #6b7280;
	--danger: rgb(241, 27, 27);
	--white: #fff;
	--black: #000;

	/* grays */
	--gray-900: #f5f5f5;
	--gray-800: #e5e5e5;
	--gray-700: #d4d4d4;
	--gray-600: #a3a3a3;
	--gray-500: #737373;
	--gray-400: #525252;
	--gray-300: #404040;
	--gray-200: #262626;
	--gray-100: #171717;

	/* generic size */
	--size: 8px;
	--line-height-btn: 1.5;

	--bg-body: var(--gray-900);
	--color-body: var(--gray-100);
	--border-color: #515151a3;
	--border-radius: 8px;

	--modal-overlay-bg: #171717c7;
	color-scheme: light;
}
body {
	background-color: var(--bg-body);
	color: var(--color-body);

	display: grid;
	grid-template-rows: 0.1fr 2fr;
	/* gap: calc(var(--size) * 3); */
	grid-template-areas:
		"header"
		"main";
	width: 100%;
	height: 100svh;
	position: relative;
	/* transition:
		background-color 0.3s ease,
		color 0.3s ease; */
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	justify-content: space-between !important;
	grid-area: header;
	gap: 5px;

	padding: var(--size);
	background-color: var(--gray-800);
	border-bottom: 1px solid var(--border-color);
}

header h2 {
	font-size: clamp(1em, 18px, 2rem);
}

main {
	grid-area: main;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: calc(var(--size) * 3);
	gap: calc(var(--size) * 3);

	overflow: hidden;
}

main section {
	overflow-y: hidden;
	height: 100%;
	background-color: var(--gray-800);
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
}

.card-container {
	height: 95%;
	overflow-y: auto;
}

.title {
	text-align: center;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: var(--size);
	background-color: oklch(from var(--gray-900) calc(l + 0.1) c h);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	font-size: calc(var(--size) * 3);
	border-bottom: 1px solid var(--border-color);
}

#todoCount {
	position: absolute;
	top: 2px;
	right: 2px;
	background-color: var(--gray-900);
	/* background-color: oklch(from var(--gray-900) calc(l + 0.1) c h); */
	padding: 4px 10px;
	border-radius: 50%;
	border: 1px solid var(--border-color);
}

.action-wrapper {
	background-color: var(--bg-body);
	z-index: 500;
}

.todo-card,
.placeholder {
	margin: calc(var(--size) * 2);
	padding: calc(var(--size) * 2);
	align-items: start;
	gap: calc(var(--size));
	flex-direction: column;
	background-color: var(--gray-900);
	border-radius: var(--border-radius);
	touch-action: none;
}

.todo-header {
	font-size: calc(var(--size) * 3);
	width: 100%;
	justify-content: space-between !important;
	overflow: hidden;
}

.todo-title {
	width: 60%;
	text-wrap-mode: nowrap;
}

.auto-scroll {
	display: inline-block;
	animation: scroll 12s linear infinite 2s;
}

.placeholder {
	height: 120px;
}

.placeholder .todo-header {
	height: 30%;
	width: 70%;
	border-radius: var(--size);
	background-color: var(--gray-800);
	padding: calc(var(--size) * 2);
}

.placeholder .todo-description {
	height: 30%;
	width: 80%;
	border-radius: var(--size);
	background-color: var(--gray-800);
	padding: calc(var(--size) * 3);
	margin-top: var(--size);
}

@keyframes scroll {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

.icon {
	border-radius: var(--border-radius);
	padding: 4px;
	height: 30px;
	width: 30px;
	fill: currentColor;
	cursor: pointer;
}

.icon:hover {
	background-color: var(--gray-700);
}

.drag-btn {
	cursor: grab;
}

.btn-edit {
	fill: var(--primary);
}

.btn-delete {
	fill: var(--danger) !important;
}

.btn {
	all: unset;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	background-color: var(--primary);
	color: var(--white);
	text-align: center;
	font-size: calc(var(--size) * 2);
	border-radius: var(--border-radius);
	margin: var(--size);
	padding: var(--size);
	line-height: var(--line-height-btn);

	cursor: pointer;
	transition: all 0.2s;
}

.btn:hover {
	background-color: #025ace;
}

.btn:focus-visible {
	outline: 3px solid #003d8ebc;
	background-color: #025ace;
}

.hide {
	display: none !important;
}

.modal {
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--modal-overlay-bg);
	z-index: 999;
}

.modal-body {
	width: 40%;
	height: auto;
	background-color: var(--gray-800);
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
	padding: calc(var(--size) * 2);

	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.modal-title {
	justify-content: space-between !important;
	margin-bottom: var(--size);
}

.modal-actions {
	margin-top: var(--size);
	justify-content: end !important;
}

input,
textarea,
select {
	all: unset;
	font-size: 14px;
	width: 70%;
	margin-top: var(--size);
	background-color: var(--bg-body);
	color: var(--color-body);
	padding: var(--size);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
	outline: 2px solid var(--gray-500);
}

.input-group {
	width: 100%;
	align-items: start !important;
	justify-content: space-between;
	flex-grow: 1;
}
.input-group label {
	margin-top: var(--size);
}

.false {
	outline: 2px solid var(--danger);
	animation: shake 0.5s ease-out;
}
@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

#todoDescription {
	overflow-wrap: break-word;
}

.date-overdue {
	color: var(--danger);
}

::view-transition-old(root) {
	animation-delay: 0.3s;
}
::view-transition-new(root) {
	animation: circle-timepass 0.3s;
}
@keyframes circle-timepass {
	from {
		clip-path: circle(0% at 93% 3%);
	}
	to {
		clip-path: circle(100% at 50% 50%);
	}
}

@media (max-width: 768px) {
	main {
		grid-template-columns: 1fr;
	}
	header h2 {
		visibility: hidden;
		content: "";
		font-size: 0;
	}
	header h2::after {
		font-size: 28px;
		visibility: visible;
		content: "Todo App";
	}
	.modal-body {
		width: 90%;
	}
	@keyframes circle-timepass {
		from {
			clip-path: circle(0% at 69% 3%);
		}
		to {
			clip-path: circle(100% at 50% 50%);
		}
	}
}

.theme-toggle {
	cursor: pointer;
}

.empty-todo {
	flex-direction: column;
	gap: calc(var(--size) * 2);
}

.empty-todo img {
	height: 350px;
}

.empty-todo p {
	color: var(--gray-500);
}
